<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seminário</title>
</head>
<body>
<div style="display: flex; flex-direction: column">
    <div style="background-color: rebeccapurple; height: 400px; width: 100%"></div>
    <div style="background-color: azure; height: 400px; width: 100%"></div>
    <div style="background-color: cadetblue; height: 400px; width: 100%"></div>
    <div style="background-color: crimson; height: 400px; width: 100%"></div>
</div>

<h1></h1>
</body>
</html>